:root {
  --clr-primary-300: hsl(4, 100%, 67%,.15);
  --clr-primary-400: hsl(4, 100%, 67%);
  --clr-secondary-400: hsl(348, 100%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(231, 7%, 60%);
  --clr-neutral-600: hsl(235, 18%, 26%);
  --clr-neutral-900: hsl(234, 29%, 20%);

  --clr-gradient: linear-gradient(
    to right,
    var(--clr-secondary-400),
    var(--clr-primary-400)
  );

  --ff-default: "Roboto", sans-serif;

  --size-200: 0.25rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.75rem;
  --size-700: 2rem;
  --size-725: 2.25rem;
  --size-750: 2.5rem;
  --size-800: 3rem;
  --size-825: 3.25rem;
  --size-850: 3.5rem;
  --size-900: 4rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-default);
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}

@media (min-width: 375px) {
  body {
    background-color: var(--clr-neutral-600);
    min-height: 100vh;
    display: grid;
    place-content: center;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
label {
  margin: 0;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*utilities */

.flex {
  display: flex;
  justify-content: space-between;
}
.show {
  display: initial;
}

.hide {
  display: none;
}


/* form-part */

.sign-up-form {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-100);
}

@media (min-width: 375px) {
  .sign-up-form {
    width: min(90vw, 50rem);
    height: auto;
    padding: var(--size-400);
    border-radius: 1.5em;
    flex-direction: row-reverse;
    gap: var(--size-700);
  }
}

.sign-up-form_form {
  padding: var(--size-500);
}

.sign-up-form_form > *:not(:first-child) {
  margin-block-start: var(--size-500);
}
.sign-up-form_form > ul[role="list"] {
  display: grid;
  gap: var(--size-300);
}
.sign-up-form_form > ul[role="list"] li {
  display: flex;
  gap: var(--size-400);
}
.sign-up-form_heading {
  font-size: clamp(var(--size-725), 5vw, var(--size-850));
  font-weight: 700;
}

.sign-up-form .form-group {
  margin-block-start: var(--size-800);
  display: grid;
  gap: var(--size-300);
}

.form-group > :last-child {
  margin-block-start: var(--size-300);
}

.form-group input {
  padding: var(--size-300);
  border: 1px solid var(--clr-neutral-300);
  border-radius: 0.5em;
}
button {
  border: none;
  padding: var(--size-300);
  border-radius: 0.5em;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-weight: 700;
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background-image: var(--clr-gradient);
}

.form-group input:focus,
.form-group input:hover {
  outline: none;
  color: var(--clr-neutral-900);
  border-color: var(--clr-neutral-900);
}

.form-group input[type="email"].invalid,
.form-group input[type="email"].invalid:hover {
  border-color: var(--clr-primary-400);
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-300);
}
.form-group label {
  font-size: var(--size-300);
  font-weight: 700;
}

.form-group .invalid-message {
  font-size: var(--size-300);
  font-weight: 700;
  color: var(--clr-primary-400);
}

/* success-page */

.success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-neutral-100);
  padding: var(--size-800);
  gap: var(--size-700);
  max-width: 25rem;
  height: 100vh;
}

.success_info {
  display: grid;
  gap: var(--size-400);
}

.success_info img {
  max-width: 15%;
}
.success_info h1 {
  font-size: var(--size-750);
  font-weight: 700;
}


@media (min-width: 375px) {
  .success{
    height: auto;
    border-radius: 1.5em;
  }
}
@media (width < 375px) {
  .success_info {
    padding-block-start: var(--size-900);
  }
}
.details {
  width: 25ch;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-neutral-100);
}
.attribution a {
  color: var(--clr-neutral-300);
}
